/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* General Styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Fredoka", sans-serif;
  background-color: #f5f5f5;
}

.content-wrapper {
  flex-grow: 1;
}

/* Navbar Styles */
.navbar {
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand img {
  max-width: 40px;
  height: auto;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #343a40;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link.active {
  color: #007bff;
}

.navbar-nav .btn-outline-secondary {
  color: #007bff;
  border-color: #007bff;
}

.navbar-nav .btn-outline-secondary:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.navbar-nav .nav-link.active-link {
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}

.navbar-nav .nav-link:hover {
  color: #0056b3;
}

/* Hero Section */
.hero-section {
  width: 100%;
  padding: 80px 0;
  text-align: center;
  position: relative;
}

/* Combined Content Section */
.combined-section {
  background-color: #f5f5f5;
  padding: 4rem 0;
}

.column {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.column:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.classes-column,
.community-column {
  background-color: #21565c;
}

.workouts-column {
  background-color: #ce5100;
}

.column img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.column h2 {
  margin-top: 1.5rem;
  font-size: 1.75rem;
  color: #fff;
}

.column p {
  margin-bottom: 1.5rem;
  color: #fff;
}

.column .btn {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  text-transform: uppercase;
}

.column .btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Active Category Style */
.active-category {
  color: white !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

/* Gradient Background */
.bg-gradient {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

/* Button Styles */
.btn-primary {
  background-color: #0072ff;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #005bb5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.transform-hover:hover {
  transform: translateY(-3px);
}

/* Post Image */
.post-img {
  object-fit: contain;
  object-position: center;
  background-color: #f8f9fa;
  height: 250px;
  width: 100%;
}

/* Footer Styling */
footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #343a40;
}

/* Section Header */
.section-header {
  height: 30vh;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Testimonial and Tip Images */
.testimonial-img,
.tip-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Footer Flex */
footer {
  flex-shrink: 0;
}

/* Card Hover Effects */
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.04);
}

.custom-bg-light-blue {
  background-color: #c5d7e0;
  color: #333;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #808080; /* Grey background */
}
