{% extends 'base.html' %} {% block content %}
<h1>My Classes</h1>
<div class="row">
  {% for user_class in user_classes %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <img
        src="{{ user_class.fitness_class.image.url }}"
        class="card-img-top"
        alt="{{ user_class.fitness_class.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ user_class.fitness_class.name }}</h5>
        <p class="card-text">{{ user_class.fitness_class.description }}</p>
        <p>
          Date: {{ user_class.fitness_class.date }}, Time: {{
          user_class.fitness_class.time }}
        </p>
        <p>
          <small class="text-muted"
            >Added on: {{ user_class.date_added }}</small
          >
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
